@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 90vw;
}

.navcls {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .5s;

}

.navbar {
    display: flex;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
}

.navbar li {
    list-style: none;
    margin: 0 12px;

}

.topleft{
    width: 50%;
    /* height: 50vh; */
}

.topright{
    width: 50%;
    height: 50vh;
   
}

.section1{
    height: 12vh;
    width: 22vw;
    background-color:rgb(246 230 251);;
    margin-top: 5%;
    padding: 2rem;
    border: solid blue 2px;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.section2div1{
    height: 18vh;
    width: 30vw;
    background-color:rgb(246 230 251);;
    margin-top: 5%;
    padding: 2rem;
    margin-left: 5rem;
    border: solid blue 2px;
    border-radius: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.section2div2{
    height: 18vh;
    width: 30vw;
    background-color:rgb(246 230 251);
    margin-top: 5%;
    padding: 2rem;
    margin-right: 5rem;
    border: solid blue 2px;
    border-radius: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}
.btnmargin{
    margin-top: 2%;
}
.divbtn{
    height: 6vh;
    width: 20vw;
    padding: 2rem;

}
.justify-align{
    justify-content: space-around;
}
.imgsec1{
    height: 195%;
    width: 100%;
    margin-left: 5%;

}

.navbar-scrolled {
    background-color: rgb(215, 191, 231);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.box{
    margin: 12px 22px;
    width: 450px;
}
.font{
    font-size: 20px;
    color: #ab6f00;
}
.font-nav{
    font-size: 22px;
}
.about{
    height: 50vh;
}
.contact{
    height: 75vh;
}
.section3{
    height: 30vh;
    background-color:rgb(85, 81, 81) ;
    margin-top: 5%;

}
.section3 li{
    list-style: none;
    margin-top: 5px;
    margin-left: 10%;
    color: #fff;
}
.section3 ul{
    padding: 20px;
}

.ft1{
    margin-bottom: 12px;
}
.ft2{
margin-bottom: 12px;
}
.ft3{
    margin-bottom: 12px;
}

.ft4{
    margin-bottom: 12px;
}


.text-bluee{
    color: rgb(40, 44, 92);
}
.inpbox{
    padding: 20px;
    margin-left: 8%;
    margin: 10px;
    /* border: solid black 2px; */
}
.inpcontent{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    
}

.btnsub{
    padding: 7px 12px;
    border: 2px solid black;
    border-radius: 8px;
    color: wheat;
    background-color: blueviolet;
    margin: 5px;
    margin-top: 10%;
    cursor: pointer;
}
#showdatabtn{
    padding: 7px 12px;
    border: 2px solid black;
    border-radius: 8px;
    color: wheat;
    background-color: blueviolet;
    margin: 5px;
    margin-top: 10%;
    cursor: pointer;
    
}
.sdb{
    height: 6vh;
    width: 20vw;
    padding: 2rem;
}
.min-h-screen{
    min-height: 100vh;
    margin-top: 5rem;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}
.font-bold{
    font-weight: bold;
}
.flex-col{
    flex-direction: column;
}
.my-1{
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 3rem;
}
.my-2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.px-2{
    margin-left: 20px;
    margin-right: 20px;
}
.text-blue{
    color: rgb(81, 88, 229);
}
.btn{
    padding: 7px 12px;
    border: 2px solid black;
    border-radius: 8px;
    color: wheat;
    background-color: blueviolet;
    cursor: pointer;
}
.overflow-hidden{
    overflow: hidden;
}
.ft2rem{
    font-size: 2rem;

}
.textnone{
    text-decoration: none;
}
.table{
    margin: 2rem;
    padding: 3rem;
    width: 80vw;
}





.maincontainer{
    width: 100vw;
    height: 100vh;
    background: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box{
    background: #fff;
    width: 98vw;
    height: 80vh;
    padding: 15px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .headingtext{
    font-size: 22px;
    font-family: Poppins;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 1px;
  }
  .labelstyle{
    font-size: 15px;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .imgtable{
    width: 60px; 
    height: 50px; 
    padding-right: 8px;
  }
  .table-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table-part h2{
    font-size: 2rem;
}
.content-table{
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 0.9em;
   width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr{
    background-color: #009890;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th, .content-table td{
padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddd;
}
.table-btn{
    background:transparent;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 12px;
    width: 132px;
    height: 35px;
}
.table-btn a{
    text-decoration: none;
    color: black;
    transition: .4s;
}
.table-btn:hover, .table-btn a:hover{
    cursor: pointer;
    color: blue;
}


.list-itms {
    cursor: pointer;
}

.list-itms:hover {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}

.list-itms a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.list-itms a:hover {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}
#logo-part{
    color: rgb(40, 44, 92);
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: black;
}
.navbar-scrolled {
    background-color: rgb(215, 191, 231);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    height: 4rem;
}

.section3 {
    height: 35vh;
    background-color: rgb(85, 81, 81);
}

.section3 li {
    list-style: none;
    margin-top: 5px;
    margin-left: 10%;
    color: #fff;
}

.section3 ul {
    padding: 20px;
}
.footer-class{
    justify-content: space-around;
}
.developer-info{
    width: 14rem;
}
.ft1 {
    margin-bottom: 12px;
}

.ft2 {
    margin-bottom: 12px;
}

.ft3 {
    margin-bottom: 12px;
}

.ft4 {
    margin-bottom: 12px;
}
.ft4-items a{
    color: white;
}
