<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker - Ideal to save</title>
    <link rel="stylesheet" href="/static/css/Dashboard.css" type="text/css">
    <link rel="stylesheet" href="/static/css/table.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            
          
            $('#showdatabtn').click(function () {
                $.getJSON('/api/filldata',function(data){ 
                    console.log(data)
                    console.log(data.length)
                    $('#sectdisplay').css('display','block')
                    $("#tablebody").html('')

                    for (i=0;i<data.length;i++){
                        $('#tablebody').append(`<tr>
                      <th scope="row">${data[i].id}</th>
                         <th >{{userdata.phone}}</th>
                         <td>${data[i].Amount}</td>
                          <td>${data[i].where}</td>
                         <td>${data[i].Why}</td>
                         <td>${data[i].date_day}/${data[i].date_month}/${data[i].date_year}</td>
                         <td>${data[i].time}</td>
                         <td>${data[i].category}</td>
                         <td>${data[i].wasitneeded}</td>
                         <td><a href="/api/editentry?id=${data[i].id}">delete</a></td>
                       </tr>`
                       )
                    }
            }) 
        })
    })
    </script>
 </head>
<body >
    <div class="container mx-auto ">
        <header>
            <nav class="flex justify-between navcls">
                <div class="font-bold flex items-center text-bluee ft2rem textnone"><a href="" id="logo-part">ExpenseTracker</a></div>
                <ul class="navbar flex items-center font-nav font-bold">
                    <li class="list-itms"><a href="#section4">Home</a></li>
                    <li class="list-itms"><a href="#section4">About</a></li>
                    <li class="list-itms"><a href="#section4">See Demo</a></li>
                    <li class="list-itms"><a href="#section4">Contact</a></li> 
                    <li class="list-itms">{{data.username}}</li>
                </ul>
            </nav>
            
        </header>
        {{message}}
        <main class=" min-h-screen ">
            <section class="flex justify-between">
                <div class="section1">
                    <div class="font-bold font">
                        Money spent this month <br> {{userdata.amount}}
                      </div>
                </div>
                
                <div class="section1">
                    <div class="font-bold font">
                        Money left for this month <br> {{userdata.rem}}
                    </div>
                </div>
                <div class="section1">
                    <div class="font-bold font">
                        Welcome back {{data.username}} <br>
                        Your id is   {{data.id}} <br>
                        Set Limit is  {{data.Limit}}
                    </div>
                </div>
            </section>
            
            <section class="section2 flex justify-between">
                <div class="section2div1">
                    <div class="font-bold font">
                        hello
                    </div>
                </div>
                <div class="section2div2">
                    <div class="font-bold font">
                        {{userdata.phone}}
                    </div>
                </div>
            </section>
            
            <section class="flex btnmargin justify-align" >
                <div><button id="showdatabtn" class="sdb">Show Records</button></div>
                <div><a href="/api/submitexpensepage"><button class="btnsub divbtn">Submit an Entry</button></a></div>
            </section>
            
        </main>
        <section style="display: none;" id="sectdisplay">
            <div class="table table-part">
                <div class="col-md-12 headingtext">
                    <!-- <img src="/static/logo.png" class="imgtable"> -->
                </div>
                <h2 class="font">History</h2>
            <table class="table table-hover content-table">
                <thead>
                    <tr>
                        <th scope="col">S No.</th>
                        <th scope="col">Email address</th>                      
                      <th scope="col">Amount</th>
                      <th scope="col">Where</th>
                      <th scope="col">Why</th>
                      <th scope="col">When</th>
                      <th scope="col">Time </th>
                      <th scope="col">Category</th>
                      <th scope="col">WasitNeeded</th>
                     
                    </tr>
                </thead>
                <tbody id="tablebody">
                    
                </tbody>
            </table>
        </div>
        </section>
        <footer class="section3">
            <div class=" flex justify-between footer-class">
                <div class="">
                    <ul>
                        <li class="font-bold ft2">About</li>
                        <li>Benifits</li>
                        <li>Purpose</li>
                        <li>Motive</li>
                    </ul>
                </div>
                <div class="">
                    <ul>
                        <li class="font-bold ft3">Legal</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Terms of Use</li>
                    </ul>
                </div>
                <div class="developer-info">
                    <ul>
                        <li class="font-bold ft4">Contact Developer</li>
                        <li class="ft4-items"><a href="suyash1606.agarwal@gmail.com">Email</a></li>
                        <li class="ft4-items"><a href="https://www.linkedin.com/in/suyash-agarwal-847362224/">Developer
                                Linkedin</a></li>
                        <li class="ft4-items"><a href="https://www.linkedin.com/in/yash-agarwal-2bb83423b/">Designer
                                Linkedin</a></li>
                        <li class="ft4-items"><a href="suyash1606.agarwal@gmail.com">Github</a></li>
                        <li class="ft4-items">Mob: +91 8085735401</li>
                        <li class="ft4-items">Mob: +91 8889264980</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="/static/css/dashboard.js"></script>
</html>