<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker - Ideal to save</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">  -->
    <link rel="stylesheet" href="/static/css/Landingpage.css" type="text/css">
    <link rel="stylesheet" href="/static/css/utils.css" type="text/css">
    <link rel="shortcut icon" href="">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
$(document).ready(function () {
            
          
            $('#lgbtn').click(function () {
                var phn = $('#phone').val();
                var psw = $('#password').val();
                
                console.log(phn,psw)
                $.getJSON('/api/session',{phone:phn,password:psw},function(data){ 
                    console.log(data);
                    window.location.href = `/api/checkuserlogin?phone=${phn}&password=${psw}`
            }) 
        })
    })
      </script>
</head>

<body>
    <div class="container mx-auto ">
        <header>
            <nav class="flex justify-between navcls ">
                <div class="font-bold flex items-center text-bluee ft2rem">ExpenseTracker</div>
                <ul class="navbar flex items-center font-nav font-bold">
                    <li class="list-itms" id="home">Home</li>
                    <li class="list-itms" id="about">About</li>
                    <li class="list-itms" id="see-demo">See Demo</li>
                    <li class="list-itms" id="contact">Contact</a></li>
                    <li><Button class="btn flex items-center box centerAlign" data-toggle="modal"
                            data-target="#myModal">Login/Signup</Button></li>
                </ul>
            </nav>

        </header>
        <main class="min-h-screen ">
            <section class="section1">
                <div class="flex">
                    <div class="topleft flex items-center flex-col px-2">
                        <h1 class="my-1 ">Spend your Money Wisely</h1>
                        <p class="font">
                            <span class="font" style="color: red;">&#36; </span>&nbsp;&nbsp;What happens when you save and spend wisely     ?
                        </p>
                        <p>
                            <ul>
                                <li>Financial Security</li>
                                <li>Debt Management</li>
                                <li>Savings and Investments</li>
                                <li>Opportunity Cost</li>
                            </ul>
                        </p><br><br>



                        <p class="font">
                            <span class="font" style="color: red;">&#36; </span>&nbsp;&nbsp;What we are offering    ?
                        </p>
                        <p>
                            <ul>
                                <li style="color: red;">No charges</li>
                                <li>A complete tool to track your expense</li>
                                <li>Get your expense history</li>
                            </ul>
                        </p><br><br>

                        <p class="font">
                            <span class="font" style="color: red;">&#36; </span>&nbsp;&nbsp;How to use this and save money  ?
                        </p>
                        <p>
                            <ul>
                                <li><span style="color: red;">Step 1: </span> SignUp from the option given above! and then login</li>
                                <li><span style="color: red;">Step 2: </span> Then from the Dashboard, go to add expense option and ad your expenses   </li>
                                <li><span style="color: red;">final step: </span> Reload on Dashboard, <span style="color: blue;">Voila!!</span> See and track your expenses.   </li>
                                <li style="color: blue; font-size: 1.2rem;">HAPPY SAVING..... </li>
                                <li style="color: blueviolet; font-size: 1.5rem;">For exact method, see demo below!</li>
                            </ul>
                        </p><br><br>

                        <p>For more details related to project and developers, fill contactus form or see footer!</p>
                    </div>
                    <div class="topright">
                        <img src="/static/logo1.png" class="imgsec1" alt="">
                    </div>
                </div>
            </section>
            <hr>
            <section class="section2">
                <h1 class="flex justify-center my-2 text-blue ">About</h1>
                <div class="boxe">Welcome to Pocko-lyser! We're here to simplify your financial journey.</div>

                <div class="boxe">   At Pocko-lyser, we're a team of finance enthusiasts who understand the importance of managing expenses without the hassle. Our goal is to empower you to take charge of your finances and make informed decisions.</div> 
                <div class="boxe">With a passion for technology and finance, we've created a streamlined and user-friendly platform that lets you track your expenses effortlessly. Our intuitive interface, insightful charts, and helpful reports provide you with a clear understanding of your spending habits.</div>
            </section>
            <hr>
            <section class="section4" id="section4">
                <div class="boxes flex justify-center my-2 contact">
                    <div class="bbox " id="bbox1">
                        <h4 class="flex justify-center text-blue">How to use?</h4>
                        <div class="boxe font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nulla,
                            ducimus earum vitae repellendus aliquam! Veritatis, maxime optio libero totam eaque
                            doloribus ex.</div>
                    </div>
                    <div class="bbox " id="bbox2">
                        <h4 class="flex justify-center text-blue"> Got questions or ideas?</h4>
                        <div class="boxe font">
                           Feel free to reach out to us.  Let's embark on this path to financial well-being together!
                            <div class="inpbox flex flex-col">
                                <input class="inpcontent" type="text" name="name" id="name" placeholder="Your Name"
                                    required>
                                <input class="inpcontent" type="email" name="name" id="email1" placeholder="Your Email"
                                    required>
                                <input class="inpcontent" type="text" name="name" id="phone1"
                                    placeholder="Mobile Number">
                                <input class="inpcontent" type="text" name="name" id="query1"
                                    placeholder="Your Query/Suggestion" required>
                                <input class="inpcontent" type="text" name="name" id="feedback1"
                                    placeholder="Overall Feedback" required>
                                <input class=" btnsub items-center" type="submit" name="submit" id="submit">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
        </main>
        <footer class="section3">
            <div class=" flex justify-between">
                <div class="">
                    <ul>
                        <li class="font-bold ft2">About</li>
                        <li>Benifits</li>
                        <li>Purpose</li>
                        <li>Motive</li>
                    </ul>
                </div>
                <div class="">
                    <ul>
                        <li class="font-bold ft3">Legal</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Terms of Use</li>
                    </ul>
                </div>
                <div class="developer-info">
                    <ul>
                        <li class="font-bold ft4">Contact Developer</li>
                        <li class="ft4-items"><a href="suyash1606.agarwal@gmail.com">Email</a></li>
                        <li class="ft4-items"><a href="https://www.linkedin.com/in/suyash-agarwal-847362224/">Developer
                                Linkedin</a></li>
                        <li class="ft4-items"><a href="https://www.linkedin.com/in/yash-agarwal-2bb83423b/">Designer
                                Linkedin</a></li>
                        <li class="ft4-items"><a href="suyash1606.agarwal@gmail.com">Github</a></li>
                        <li class="ft4-items">Mob: +91 8085735401</li>
                        <li class="ft4-items">Mob: +91 8889264980</li>
                    </ul>
                </div>
            </div>
        </footer>





    </div>
    <!-- {% comment %} <div class="modal fade" id="myModal">
        <div class="modal-dialog dialog-box">
          <div class="modal-content">
      
            Modal Header
            <div class="modal-header">
              <h4 class="modal-title">Select City</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            Modal body
            <div class="modal-body"  class="close" data-dismiss="modal">  
              <h4 class="city" scity="New Delhi">New Delhi</h4>
              <h4 class="city" scity="Gwalior">Gwalior</h4>
              <h4 class="city" scity="Pune">Pune</h4>
              <h4 class="city" scity="Indore">Indore</h4>
              <h4 class="city" scity="Noida">Noida</h4>
              <h4 class="city" scity="jhansi">jhansi</h4>
              <h4 class="city" scity="mumbai">mumbai</h4>
            </div>
          </div>
        </div>
    </div> {% endcomment %} -->
    <div class="box">
        <div class="containing">
            <div class="signin-container">
                <button class="close-btn">x</i></button>
                <h2>Sign up</h2>
                <form action="/api/userdataindb" method="post">
                    <div class="signin-area">
                        <div class="input-box">
                            <label for="username" class="lbl">Username</label>
                            <input type="text" name="username" id="username" placeholder="Enter username" required></input>
                        </div>
                        <div class="input-box">
                            <label for="email" class="lbl">Email</label>
                            <input type="email" name="email" id="email" placeholder="Enter email" required></input>
                        </div>
                        <div class="input-box">
                            <label for="phone" class="lbl">Phone</label>
                            <input type="number" name="phone" id="phone1" placeholder="Enter phone" required></input>
                        </div>
                        <div class="input-box">
                            <label for="phone" class="lbl">Password</label>
                            <input type="number" name="password" id="password1" placeholder="Create Password" required></input>
                        </div>
                        <div class="input-box">
                            <label for="city" class="lbl">City</label>
                            <input type="text" name="city" id="city" placeholder="Enter city" required></input>
                        </div>
                        <div class="input-box">
                            <label for="balance" class="lbl">Balance</label>
                            <input type="number" name="Balance" id="Balance" placeholder="Enter balance" required></input>
                        </div>
                        <div class="input-box">
                            <label for="date" class="lbl">Date</label>
                            <input type="date" name="date" id="date" placeholder="Enter date" required></input>
                        </div>
                        <div class="input-box">
                            <label for="time" class="lbl">Time</label>
                            <input type="time" name="time" id="time" placeholder="Enter time" required></input>
                        </div>
                        <div class="input-box">
                            <label for="limit" class="lbl">Limit</label>
                            <input type="number" name="Limit" id="Limit" placeholder="Enter limit" required></input>
                        </div>
                        <div class="input-box">
                            <label for="profession" class="lbl">Profession</label>
                            <input type="text" name="Proffesion" id="Proffesion" placeholder="Enter profession" required></input>
                        </div>
                        <div class="input-box">
                            <label for="age" class="lbl">Age</label>
                            <input type="number" name="Age" id="Age" placeholder="Enter age" required></input>
                        </div>
                    </div>
                    <button class="sign-in">Sign Up</button>
                </form>
            </div>
            <div class="login-container">
                <button class="close-btn">x</i></button>
                <h2>Log in</h2>
                <div class="login-area">
                    <label for="" class="lbl">phone</label>
                    <input type="text" name="phone" id="phone" placeholder="Enter phone"></input>
                    <label for="Password" class="lbl">Password</label>
                    <input type="text" name="password" id="password" placeholder="Enter password"></input>
                </div>
                <button class="log-in" id="lgbtn">Log In</button>
                <button class="new-user">New User?</button>
                
            </div>
        </div>
    </div>

</body>
<script src="/static/css/landingpage.js"></script>

</html>