<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    <link rel="stylesheet" href="/static/css/Main.css">
</head>

<body>
    <main class="container mx-auto min-h-screen ">
    <section class="section4" id="section4">
           <div class="bbox ">
                <div class="box font">
                    <form action="/api/submitexpense " method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="inpbox flex flex-col">
                        <input class="inpcontent" type="text" name="Amount" id="Amount" placeholder="Amount you have Spent" required>
                        <input class="inpcontent" type="text" name="where" id="where" placeholder="Where you have spent?" required>
                        <input class="inpcontent" type="text" name="why" id="why" placeholder="Why you spent?" required>
                        <input class="inpcontent" type="text" name="date_day" id="date_day" placeholder="Enter date of expenditure" required>
                        <input class="inpcontent" type="text" name="date_month" id="date_month" placeholder="Enter month of expenditure" required>
                        <input class="inpcontent" type="text" name="date_year" id="date_year" placeholder="Enter year of expenditure" required>
                        <input class="inpcontent" type="text" name="time" id="time" placeholder="Enter time of expenditure" required>
                        <input class="inpcontent" type="text" name="category" id="category" placeholder="Category of expenditure(Urgent, helped a friend, wasted etc)" required>
                        <input class="inpcontent" type="text" name="wasitneeded" id="wasitneeded" placeholder="Needed? (YEs/No)" required>
                        <input class=" btnsub items-center" type="submit" name="submit" id="submit">
                        <span>{{message}}</span>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </section>
        <hr>
    </main>
   
</body>

</html>